streamlit==0.74.1
pandas==1.2.0
numpy==1.17.4
torch-scatter==latest+cu101 -f https://pytorch-geometric.com/whl/torch-1.7.0.html
torch==1.7.0+cu101 -f https://download.pytorch.org/whl/torch_stable.html
transformers==4.1.1
django_haystack==3.0
scikit_learn==0.24.0
